* {
  margin: 0;
  padding: 0;
}

.container {
  width: max-content;
  background-color: #000000;
  padding: 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem;
  gap: 0.8rem;
}

.row button {
 color: white;
 font-weight: bold;
  width: 5rem;
  height: 5rem;
  border-radius: 10%;
  background-color: #03030300;
  opacity: 0.5;
  border: none;
  -webkit-box-shadow: -5px -13px 18px 12px rgba(117, 105, 117, 0.64);
  -moz-box-shadow: -5px -13px 18px 12px rgba(117, 105, 117, 0.64);
  box-shadow: -5px -13px 18px 12px rgba(117, 105, 117, 0.64);
}
